@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Work+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: large;
  margin: 0;
  text-align: center;
  /*margin-top: 2%;
  margin-bottom: 5%;*/
  background-color: #eceff1;
}

h1, h2, h3, h4 {
  font-family: "Work Sans", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
}

button.btnVerde {
  font-size: large;
  font-family: "Nunito", sans-serif;
  background-color: #7ed957;
  border: 1px solid #7ed957;
  color: white;
  padding: 3%;
  padding-left: 20%;
  padding-right: 20%;
  max-width: 60%;
  text-align: center;
  border-radius: 12px;
  margin-top: 2%;
  margin-bottom: 2%;
}

button.btnVerde:hover {
  color: #7ed957;
  border-radius: 12px;
  background-color: white;
  border: 1px solid #7ed957;
  cursor: pointer;
  transition: all 0.3s ease;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  background: white;
  padding: 28px 12%;
  transition: all 0.5s ease;
}
header a#logo {
  display: flex;
}
header a#logo img {
  width: 50%;
}
header ul#menu {
  display: flex;
}
header ul#menu a {
  color: #545454;
  font-family: "Work Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all 0.3s ease;
}
header ul#menu a:hover {
  color: #50c31e;
}
header div#user {
  display: flex;
  align-items: center;
  margin-left: 15%;
  position: fixed;
  right: 15vw;
}
header div#user div#profile {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
header div#user div#profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header div#user div#profilemenu {
  position: absolute;
  top: 120px;
  right: -10px;
  padding: 10px 20px;
  background: rgb(243, 240, 240);
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
header div#user div#profilemenu.active {
  top: 80px;
  visibility: visible;
  opacity: 1;
}
header div#user div#profilemenu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: rgb(243, 240, 240);
  transform: rotate(45deg);
}
header div#user div#profilemenu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  padding: 20px 0;
  line-height: 1.2em;
}
header div#user div#profilemenu h3 span {
  font-size: 14px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}
header div#user div#profilemenu ul li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid #545454;
  display: flex;
  align-items: center;
  justify-content: center;
}
header div#user div#profilemenu ul li i {
  max-width: 20px;
  margin-right: 10px;
  transition: 0.3s;
  opacity: 0.5;
  color: black;
}
header div#user div#profilemenu ul li:hover i {
  opacity: 1;
}
header div#user div#profilemenu ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  transition: 0.3s;
}
header div#user div#profilemenu ul li:hover a {
  color: #50c31e;
}
header div#menuicon i {
  font-size: 35px;
  color: #545454;
  cursor: pointer;
  z-index: 10001;
  margin-left: 10vh;
}
header div#menuicon {
  display: none;
}
@media (max-width: 900px) {
  header div#menuicon {
    display: block;
  }
}

@media (max-width: 900px) {
  header {
    padding: 14px 2%;
    transition: 0.2s;
  }
  ul#menu a {
    padding: 5px 0;
    margin: 0px 20px;
  }
}
@media (max-width: 900px) {
  div#menuicon {
    display: block;
  }
  ul#menu {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 26vh;
    background: #7ed957;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all 0.5s ease;
  }
  ul#menu li a {
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all 0.5s ease;
    color: #545454;
  }
  ul#menu li a:hover {
    color: #545454;
    transform: translateY(5px);
  }
  ul#menu.open {
    right: 2%;
  }
}
div#login {
  font-family: "Work Sans", sans-serif;
  color: #303433;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.side {
  background: url(../img/bk.png) no-repeat;
  background-size: 100% 102%;
}

.side img {
  width: 40%;
  max-width: 50%;
}

.login-container {
  max-width: 450px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.separator {
  width: 150px;
  height: 4px;
  background-color: #50c31e;
  margin: 24px;
}

.welcome-message {
  text-align: center;
  font-size: 1.1em;
  line-height: 28px;
  margin-bottom: 30px;
  color: #696969;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-control {
  width: 100%;
  position: relative;
  margin-bottom: 24px;
}

.inputlogin,
button {
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1.1em;
}

.inputlogin {
  width: 100%;
  background: #e6e6e6;
  color: #333;
  letter-spacing: 0.5px;
  padding: 14px 64px;
}

.inputlogin ~ i {
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  transition: color 0.4s;
}

button.submit {
  color: #fff;
  padding: 14px 64px;
  margin: 32px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background: #50c31e;
  cursor: pointer;
  transition: opacity 0.4s;
}

button.submit:hover {
  opacity: 0.9;
}

.login-container a {
  color: #545454;
}

/* ----  Responsiveness   ----  */
@media (max-width: 780px) {
  div#login {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .side {
    display: none;
  }
}
.inputregistro {
  font-size: large;
  font-family: "Nunito", sans-serif;
  margin-top: 5%;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 40px;
  width: 100%;
}

.form-group {
  margin-bottom: 5%;
}

.detNom {
  display: flex;
  flex-direction: row;
}

#group {
  max-width: 50%;
}

.generoRad input[type=radio] {
  height: 20px;
  width: 30px;
  border-radius: 100%;
  left: 133px;
}

.error {
  color: red;
}

.contBlan {
  max-width: 30%;
  max-height: 50%;
  margin-top: 2%;
  border-radius: 18px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

dialog {
  min-width: 100%;
  min-height: 100%;
  margin-top: 5%;
  border: none;
  margin-left: auto;
  margin-right: auto;
  background-color: #eceff1;
}

dialog::-webkit-backdrop {
  background-color: #eceff1;
}

dialog::backdrop {
  background-color: #eceff1;
}

@media screen and (max-width: 800px) {
  .detNom {
    display: flex;
    flex-direction: column;
  }
  #group {
    max-width: 100%;
  }
  .contBlan {
    max-width: 90%;
    max-height: 50%;
    margin-top: 2%;
    border-radius: 18px;
    background-color: white;
    margin-left: 4.5%;
    margin-right: 2%;
    padding: 5%;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
  }
}
.datosNutricionista, .ContenedorPesos, h4 {
  font-family: "Work Sans", sans-serif;
}

.contBlan1 {
  border-radius: 18px;
  background-color: white;
  width: 60%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.centrarContenidoPerfil {
  height: 120px;
  width: auto;
  text-align: center;
  background-color: rgba(0, 255, 255, 0);
}

.centrarContenidoPerfil img {
  border-radius: 50%;
  width: 4rem;
}

.centrarContenedorPesos {
  background-color: rgba(255, 0, 0, 0);
  padding: 5px;
  --height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contenedorActualizarPeso {
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 0, 0);
}

.contenedorActualizarPeso button {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  width: 200px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.5);
  border: 0px;
  border-radius: 15px;
  background-color: #7ED957;
  color: white;
}

.contenedorActualizarPeso button:hover {
  transform: scale(1.05);
}

.ContenedorPesos {
  background-color: #ffffff;
  padding: 10px;
  margin: 1px;
  height: 60px;
  width: 300px;
  text-align: center;
}

.FondoDatosNutricionista {
  background-color: #ffffff;
  margin-left: 8rem;
  margin-right: 8rem;
  border-radius: 10px;
}

.FondoDatosNutricionista a {
  text-decoration: none;
  color: black;
}

.datosNutricionista {
  padding: 20px;
}

.datosNutricionista:hover {
  cursor: pointer;
  transform: scale(1.03);
  background-color: #899CA9;
  color: white;
  border-radius: 10px;
}

#nombreYapellidos {
  padding: 5px;
}

#sexo {
  padding: 5px;
}

h4.perfil {
  margin-left: 8rem;
}

.datosCliente, .ContenedorPesos, h4 {
  font-family: "Work Sans", sans-serif;
}

.centrarContenedorPesos {
  background-color: rgba(255, 0, 0, 0);
  padding: 5px;
  --height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contenedorActualizarPeso {
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 0, 0);
}

.contenedorActualizarPeso button {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  width: 200px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.5);
  border: 0px;
  border-radius: 15px;
  background-color: #7ED957;
  color: white;
}

.contenedorActualizarPeso button:hover {
  transform: scale(1.05);
}

.ContenedorPesos {
  background-color: #ffffff;
  padding: 10px;
  margin: 1px;
  height: 60px;
  width: 300px;
  text-align: center;
}

.FondoDatosCliente {
  background-color: #ffffff;
  margin-left: 8rem;
  margin-right: 8rem;
  border-radius: 10px;
}

.datosCliente {
  padding: 20px;
}

.datosCliente:hover {
  cursor: pointer;
  transform: scale(1.03);
  background-color: #899CA9;
  color: white;
  border-radius: 10px;
}

.btnEmpezar {
  font-family: "Nunito", sans-serif;
  background-color: #7ed957;
  border: 1px solid #7ed957;
  color: white;
  padding: 3%;
  max-width: 60%;
  text-align: center;
  border-radius: 12px;
  margin-top: 2%;
  margin-bottom: 2%;
}

#ejercicio {
  position: absolute;
  top: 10px;
  left: 10px;
}

h1.admin {
  margin-bottom: 3%;
}

table.admin {
  margin: auto;
  background-color: #e2e5e7;
  border-collapse: collapse !important;
  border-style: hidden;
  width: 70%;
  text-align: center;
}

td.admin {
  padding: 1em;
}

table tr:nth-child(2n+1).admin {
  background-color: white;
}

.carrousel2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  width: auto;
}

.plato2 {
  background-color: #e7ebec;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 2%;
  width: 14em;
  height: 9em;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

#bodyMenuSemanal {
  margin: 0%;
  background-color: #eceff1;
}

.contBlan2 {
  border-radius: 18px;
  background-color: white;
  margin-bottom: 2%;
  padding: 2%;
  width: 60%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.semanaActual {
  background-color: rgba(0, 255, 255, 0);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.cabeza {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2%;
}

#menuDia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#searchMenuDia {
  width: 100px;
  border-radius: 20px;
}

#imgNombreComidas {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 2rem;
  border-radius: 10%;
  height: 20%;
  width: 20%;
}

div#caja {
  display: grid;
  grid-template-columns: 300px 300px 300px 20px;
  grid-template-rows: 190px;
  margin-left: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 255, 255, 0);
}

#NombreComidas {
  background-color: rgba(92, 67, 194, 0.71);
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 150px;
  width: 250px;
}

#checkmark {
  height: 25px;
  width: 25px;
  background-color: #eee;
}

#infoIcon {
  margin-right: 0rem;
  cursor: pointer;
}

#slider {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .contBlan2 {
    border-radius: 18px;
    background-color: white;
    margin-bottom: 2%;
    padding: 2%;
    width: 60%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .contBlan2 {
    border-radius: 18px;
    background-color: white;
    margin-bottom: 2%;
    padding: 2%;
    width: 60%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
  }
}
#bodyMenuSemanal {
  margin: 0%;
  background-color: #eceff1;
}

.contBlan3 {
  border-radius: 18px;
  padding: 2%;
  width: 60%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.scrollY {
  overflow-y: scroll;
  flex-wrap: wrap;
  overflow-x: hidden;
  max-height: 600px;
  width: 100%;
}

.elemento2 {
  margin-left: 2%;
  text-align: center;
}

.cabeceraSemana {
  height: 50px;
  width: 60%;
  margin-left: 30%;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  background-color: rgba(220, 26, 23, 0);
  color: #0a0a0a;
}

.semanaSiguiente button {
  font-size: large;
  font-family: "Nunito", sans-serif;
  background-color: #7ed957;
  border: 1px solid #7ed957;
  color: white;
  padding: 3%;
  padding-left: 10%;
  padding-right: 10%;
  width: 150%;
  text-align: center;
  border-radius: 12px;
  margin-top: 2%;
  margin-bottom: 2%;
}

#searchMenuDia {
  width: 100px;
  border-radius: 20px;
}

div#caja {
  display: grid;
  grid-template-columns: 300px 300px 300px 150px;
  grid-template-rows: repeat(1, 170px);
  margin-left: 2rem;
  background-color: rgba(0, 255, 255, 0);
}

#imgNombreComidas {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 1rem;
  border-radius: 10%;
  height: 140px;
  width: 140px;
}

div#caja {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 190px;
  margin-left: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 255, 255, 0);
}

div#caja div {
  background-color: rgba(196, 195, 200, 0.71);
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 150px;
  width: 250px;
}

#checkmark {
  height: 25px;
  width: 25px;
  background-color: #eee;
}

#infoIcon {
  margin-right: 0rem;
}

@media screen and (max-width: 800px) {
  .cabeceraSemana {
    height: 50px;
    width: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(220, 26, 23, 0);
    color: #0a0a0a;
  }
  .scrollY {
    flex: 2 2 auto;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 500px;
  }
}
.foto {
  grid-area: foto;
}

.formu {
  grid-area: formu;
}

.tipo {
  grid-area: tipo;
}

.ingre {
  grid-area: ingre;
}

.prepa {
  grid-area: prepa;
}

.valores {
  grid-area: valores;
}

.contener {
  display: grid;
  grid-template-areas: "foto foto foto formu formu formu" "foto foto foto tipo tipo tipo" "ingre ingre ingre prepa prepa prepa" "valores valores valores valores valores valores";
  gap: 20px;
}

.contener {
  background-color: white;
  margin-left: 25%;
  margin-right: 25%;
  padding: 1%;
}

.contener > div {
  background-color: white;
}

table#recetatabla {
  margin: auto;
  background-color: white;
  border-collapse: collapse !important;
  width: 50%;
  border: none;
  padding-left: 90%;
  padding-right: 90%;
  text-align: center;
}

table td #recetatabla {
  background-color: white;
  max-width: 5%;
}

.valor {
  max-width: 5%;
}

#list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----div de la imagen-----*/
.imagen {
  text-align: center;
  padding: 4%;
  margin-top: 3%;
  margin-right: 50%;
  margin-left: 50%;
  height: 6rem;
  width: 6rem;
  border: thin solid black;
}

#inputTag {
  display: none;
  cursor: pointer;
}

#lableImg {
  cursor: pointer;
}

/*-------------------------*/
#plato {
  background-color: #e7ebec;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 7em;
  height: 10em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#check > div {
  margin-top: 50%;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.contBlan2 {
  border-radius: 18px;
  background-color: white;
  margin-bottom: 2%;
  padding: 2%;
  width: 60%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.carrousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: auto;
  text-align: center;
}

.elemento {
  flex: 1 0 auto;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .contBlan2 {
    background-color: white;
    margin-bottom: 2%;
    padding: 2%;
    width: 100%;
  }
  .carrousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .elemento {
    flex: 1 0 auto;
    margin-left: 3em;
  }
}
.receta1 {
  grid-area: nombre;
}

.receta2 {
  grid-area: receta2;
}

.receta3 {
  grid-area: receta3;
}

.receta4 {
  grid-area: receta4;
}

.contenedor {
  display: grid;
  grid-template-areas: "nombre nombre nombre nombre nombre nombre" "receta2 receta2 receta2 receta3 receta3 receta3" "receta4 receta4 receta4 receta4 receta4 receta4";
  gap: 20px;
  padding-left: 20%;
  padding-right: 20%;
}

.contenedor > div {
  background-color: white;
  border-radius: 8px;
  text-align: center;
  padding: 3%;
}

.foto1 {
  grid-area: foto;
}

.foto2 {
  grid-area: nombre;
}

.receta1 {
  display: grid;
  grid-template-areas: "foto foto nombre nombre";
  gap: 50px;
}

#horizon li {
  display: inline;
}

#list {
  display: flex;
  justify-content: center;
  align-items: center;
}

img#plato {
  margin-top: 5%;
  height: 70%;
  width: 66%;
}
/*# sourceMappingURL=style.css.map */