{{> cabecera}}
{{> menu_admin}}
<body class="registro">

    <h1 class="admin">Nutricionistas</h1>

    <table class="admin">

        <tr class="admin">
            <td class="admin"><img src="/img/favicon-32x32.png" alt=""></td>
            <td class="admin">Carlos Herrera Ruiz</td>
            <td class="admin">Certificacón</td>
            <td class="admin"><a href="#"><i class="fa-regular fa-eye"></i></a></td>
            <td class="admin">
                <button type="submit" class="boton">Aceptar</button>
                <button type="submit" class="boton">Rechazar</button>
                <button type="submit" class="boton">Contactar</button>
            </td>
        </tr>

        <tr>
            <td class="admin"><img src="/img/favicon-32x32.png" alt=""></td>
            <td class="admin">Rosa Martinez García</td>
            <td class="admin"></td>
            <td class="admin"></td>
            <td class="admin">
                <button type="submit" class="boton">Eliminar</button>
                <button type="submit" class="boton">Contactar</button>
            </td>
        </tr>

        <tr class="admin">
            <td class="admin"><img src="/img/favicon-32x32.png" alt=""></td>
            <td class="admin">Lorena Gonzalez Mendez</td>
            <td class="admin"></td>
            <td class="admin"></td>
            <td class="admin">
                <button type="submit" class="boton">Eliminar</button>
                <button type="submit" class="boton">Contactar</button>
            </td>
        </tr>

    </table>
{{> script}}
{{> pie}}