{{> cabecera}}
<body>
    <h1>Datos de contacto</h1>

    <form action="" method="POST">

        <label for="nombre">Teléfono</label>
        <input type="text" id="tel" name="tel" placeholder="+34..." value="{{tel}}">

        <label for="nombre">Correo electrónico</label>
        <input type="text" id="email" name="email" placeholder="ejemplo@gmail.com" value="{{email}}">

        <button type="submit">confirmar</button>
    </form>
    
{{> pie}}