{{> cabecera}}
{{> menu_paciente}}
<body id="dietasemcli">
    
    <h1>Semana 1</h1>
    <br>
    <br>
    <!-----------------------Lunes------------------------------------------------>
        
        <div class="contBlan2">

            <h3>Lunes</h3>
            <br>
            <div class="carrousel">
                <div class="elemento">
                    <p>Desayuno</p>
                    <div id="plato">
                        <h4>Nombre</h4>
                        <img src="/img/favicon-32x32.png" alt="">
                        <div id="check">
                            <a href="receta_desayuno_paciente" id="dietacliente"><i class="fa-solid fa-info"></i></a>
                            <input type="checkbox" id="dietaclientein">
                        </div>
                    </div>
                </div>
    
                
                <div class="elemento">
                    <p>Media Mañana</p>
                    <div id="plato">
                        <h4>Nombre</h4>
                        <img src="/img/favicon-32x32.png" alt="">
                        <div id="check">
                            <a href="receta_desayuno_paciente" id="dietacliente"><i class="fa-solid fa-info"></i></a>
                            <input type="checkbox" id="dietaclientein">
                        </div>
                    </div>
                </div>
    
                <div class="elemento">
                    <p>Comida</p>
                    <div id="plato">
                        <h4>Nombre</h4>
                        <img src="/img/favicon-32x32.png" alt="">
                        <div id="check">
                            <a href="receta_desayuno_paciente" id="dietacliente"><i class="fa-solid fa-info"></i></a>
                            <input type="checkbox" id="dietaclientein">
                        </div>
                    </div>
                </div>
    
    
                <div class="elemento">
                    <p>Merienda</p>
                    <div id="plato">
                        <h4>Nombre</h4>
                        <img src="/img/favicon-32x32.png" alt="">
                        <div id="check" id="dietacliente">
                            <a href="receta_desayuno_paciente" id="dietacliente"><i class="fa-solid fa-info"></i></a>
                            <input type="checkbox" id="dietaclientein">
                        </div>
                    </div>
                </div>
    
                <div class="elemento">
                    <p>Cena</p>
                    <div id="plato">
                        <h4>Nombre</h4>
                        <img src="/img/favicon-32x32.png" alt="">
                        <div id="check">
                            <a href="receta_desayuno_paciente" id="dietacliente"><i class="fa-solid fa-info"></i></a>
                            <input type="checkbox" id="dietaclientein">
                        </div>
                    </div>
                </div>
    
            </div>
        </div>

    <!-----------------------Martes----------------------------------->    
    <div class="contBlan2">

        <h3>Martes</h3>
        <br>
        <div class="carrousel">
            <div class="elemento">
                <p>Desayuno</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="receta_desayuno_paciente" id="dietacliente"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

            
            <div class="elemento">
                <p>Media Mañana</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="receta_desayuno_paciente" id="dietacliente"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

            <div class="elemento">
                <p>Comida</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="receta_desayuno_paciente" id="dietacliente"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>


            <div class="elemento">
                <p>Merienda</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="receta_desayuno_paciente" id="dietacliente"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

            <div class="elemento">
                <p>Cena</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="receta_desayuno_paciente" id="dietacliente"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-----------------------------------Miercoles------------------------>    
    <div class="contBlan2">

        <h3>Miércoles</h3>

        <div class="carrousel">
            <div class="elemento">
                <p>Desayuno</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

            
            <div class="elemento">
                <p>Media Mañana</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

            <div class="elemento">
                <p>Comida</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>


            <div class="elemento">
                <p>Merienda</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

            <div class="elemento">
                <p>Cena</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!------------------Jueves-------------------------------------------->    
    <div class="contBlan2">

        <h3>Jueves</h3>

        <div class="carrousel">
            <div class="elemento">
                <p>Desayuno</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

            
            <div class="elemento">
                <p>Media Mañana</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

            <div class="elemento">
                <p>Comida</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>


            <div class="elemento">
                <p>Merienda</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

            <div class="elemento">
                <p>Cena</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--------------------Viernes----------------------------------->        
    <div class="contBlan2">

        <h3>Viernes</h3>

        <div class="carrousel">
            <div class="elemento">
                <p>Desayuno</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

            
            <div class="elemento">
                <p>Media Mañana</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

            <div class="elemento">
                <p>Comida</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>


            <div class="elemento">
                <p>Merienda</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

            <div class="elemento">
                <p>Cena</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-------------------------Sábado----------------------------->    
    <div class="contBlan2">

        <h3>Sábado</h3>

        <div class="carrousel">
            <div class="elemento">
                <p>Desayuno</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

            
            <div class="elemento">
                <p>Media Mañana</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

            <div class="elemento">
                <p>Comida</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>


            <div class="elemento">
                <p>Merienda</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

            <div class="elemento">
                <p>Cena</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!----------------Domingo----------------------------------->    

    <div class="contBlan2">

        <h3>Domingo</h3>

        <div class="carrousel">
            <div class="elemento">
                <p>Desayuno</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

            
            <div class="elemento">
                <p>Media Mañana</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

            <div class="elemento">
                <p>Comida</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>


            <div class="elemento">
                <p>Merienda</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

            <div class="elemento">
                <p>Cena</p>
                <div id="plato">
                    <h4>Nombre</h4>
                    <img src="/img/favicon-32x32.png" alt="">
                    <div id="check">
                        <a href="#"><i class="fa-solid fa-info"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

{{> script}}
{{> pie}}