{{> cabecera}}
{{> menu_admin}}
<body class="registro">
    
    <h1 class="admin">Pacientes</h1>
    
    <table class="admin">

        <tr class="admin">
            <td class="admin"><img src="/img/favicon-32x32.png" alt=""></td>
            <td class="admin">Adrián Fernandez Ruiz</td>
            <td class="admin">
                <button type="submit" class="btnVerde">Eliminar</button>
                <button type="submit" class="btnVerde">Contactar</button>
            </td class="admin">
        </tr>

        <tr class="admin">
            <td class="admin"><img src="/img/favicon-32x32.png" alt=""></td>
            <td class="admin">Juan Sanchez Gonzalez</td>
            <td class="admin">
                <button type="submit" class="btnVerde">Eliminar</button>
                <button type="submit" class="btnVerde">Contactar</button>
            </td>
        </tr>

        <tr class="admin">
            <td class="admin"><img src="/img/favicon-32x32.png" alt=""></td>
            <td class="admin">Jesús Gonzalez Herrera</td>
            <td class="admin">
                <button type="submit" class="btnVerde">Eliminar</button>
                <button type="submit" class="btnVerde">Contactar</button>
            </td>
        </tr>

    </table>
{{> script}}
{{> pie}}