{{> cabecera}}
<html>
    <header>
        <a href="#"><img src="img/3.png" alt="Logo nutrifit"></a>

        <ul>
            <li><a href="#"><i class="fa-regular fa-address-book"></i>Pacientes</a></li>
            <li><a href="#"><i class="fa-solid fa-bowl-food"></i>Menús</a></li>
            <li><a href="#"><i class="fa-regular fa-comments"></i>Chat</a></li>
            <li><a href="#"><i class="fa-regular fa-bell"></i>Notificaciones</a></li>
        </ul>

        <div>
            <button>
                <img>
            </button>
            
        </div>
    </header>
{{> pie}}
