{{> cabecera}}
<body>
<div id="login">
 <section class="side">
        <img src="img/imgmovil.png" alt="">
    </section>

    <section class="main">
        <div class="login-container">
            <p class="title">¡ Bienvenid@ de nuevo !</p>
            <div class="separator"></div><br>

            <form class="login-form">
                <div class="form-control">
                    <input type="text" placeholder="Usuario" class="inputlogin">
                    <i class="fas fa-user"></i>
                </div>
                <div class="form-control">
                    <input type="password" placeholder="Contraseña" class="inputlogin">
                    <i class="fas fa-lock"></i>
                </div>

                <button class="submit">Acceder</button>
            </form>
            
            <br>
            <a href="registro_nutricionista">Darse de alta</a>
        </div>
    </section>
</div>

{{> pie}}