{{> cabecera}}
{{> menu_nutricionista}}
<body id="bodyMenuSemanal">
    <div class="centrarContenidoPerfil">
        <img src="/img/icon1.jpg" alt="cara" />
        <h4>Nombre del cliente</h4>
    </div>

    <div class="cabeceraSemana">
        <div class="semanaActual">
            <h2>Semana 1</h2>
        </div>
        <div class="semanaSiguiente">
            <h2 onclick=""><img src="/img/flecha-correcta.png" alt=""></h2>
        </div>
    </div>
    <div class="menuDia">
        <h3 id="menuDiah3">Lunes</h3>
        <h5 id="menuDiah5"><a href="receta_categoria_nutri">Desayuno</a><input type="search" placeholder="🔍Buscar" name="" id="searchMenuDia"></h5>
        <div id="caja">
            <div id="NombreComidas"><img id="imgNombreComidas" src="/img/desayuno1.jpg" alt="">
                <img id="infoIcon" onclick="" src="/img/informacion.png" alt="">
                <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <div><img id="imgNombreComidas" src="/img/desayuno1.jpg" alt="">
                <img id="infoIcon" src="/img/informacion.png" alt="">
                <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <div><img id="imgNombreComidas" src="/img/desayuno1.jpg" alt="">
                <img id="infoIcon" src="/img/informacion.png" alt="">
                <input type="checkbox" name="checkmark3" id="checkmark">
            </div>
            <h2 onclick=""><img id="slider" src="/img/flecha-correcta.png" alt=""></h2>
            <span>
                Sandwich de manzana <br> y granola
            </span>
            <span>
                Sandwich de manzana <br> y granola
            </span>
            <span>
                Sandwich de manzana <br> y granola
            </span>
        </div>
        <h5 id="menuDiah5"><a href="receta_categoria_nutri">Media mañana</a><input type="search" placeholder="🔍Buscar" name="" id="searchMenuDia"></h5>
        <div id="caja">    
            <div><img id="imgNombreComidas" src="/img/desayuno1.jpg" alt="">
                <img id="infoIcon" src="/img/informacion.png" alt="">
                <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <div><img id="imgNombreComidas" src="/img/desayuno1.jpg" alt="">
                <img id="infoIcon" src="/img/informacion.png" alt="">
                <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <div><img id="imgNombreComidas" src="/img/desayuno1.jpg" alt="">
                <img id="infoIcon" src="/img/informacion.png" alt="">
                <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <h2 onclick=""><img id="slider" src="/img/flecha-correcta.png" alt=""></h2>
            <span>
                Sandwich de manzana y granola
            </span>
            <span>
                Sandwich de manzana y granola
            </span>
            <span>
                Sandwich de manzana y granola
            </span>
        </div>  
        <h5 id="menuDiah5"><a href="receta_categoria_nutri">Comida</a><input type="search" placeholder="🔍Buscar" name="" id="searchMenuDia"></h5>
        <div id="caja">  
            <div><img id="imgNombreComidas" src="/img/desayuno1.jpg" alt="">
                <img id="infoIcon" src="/img/informacion.png" alt="">
                <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <div><img id="imgNombreComidas" src="/img/desayuno1.jpg" alt="">
                <img id="infoIcon" src="/img/informacion.png" alt="">
                <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <div><img id="imgNombreComidas" src="/img/desayuno1.jpg" alt="">
                <img id="infoIcon" src="/img/informacion.png" alt="">
                <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <h2 onclick=""><img id="slider" src="/img/flecha-correcta.png" alt=""></h2>
            <span>
                Sandwich de manzana y granola
            </span>
            <span>
                Sandwich de manzana y granola
            </span>
            <span>
                Sandwich de manzana y granola
            </span>
        </div>
        <h5 id="menuDiah5"><a href="receta_categoria_nutri">Merienda</a><input type="search" placeholder="🔍Buscar" name="" id="searchMenuDia"></h5>        
        <div id="caja">      
            <div><img id="imgNombreComidas" src="/img/desayuno1.jpg" alt="">
                <img id="infoIcon" src="/img/informacion.png" alt="">
                <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <div><img id="imgNombreComidas" src="/img/desayuno1.jpg" alt="">
                <img id="infoIcon" src="/img/informacion.png" alt="">
                <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <div><img id="imgNombreComidas" src="/img/desayuno1.jpg" alt="">
                <img id="infoIcon" src="/img/informacion.png" alt="">
                <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <h2 onclick=""><img id="slider" src="/img/flecha-correcta.png" alt=""></h2>
            <span>
                Sandwich de manzana y granola
            </span>
            <span>
                Sandwich de manzana y granola
            </span>
            <span>
                Sandwich de manzana y granola
            </span>
        </div>
        <h5 id="menuDiah5"><a href="receta_categoria_nutri">Cena</a><input type="search" placeholder="🔍Buscar" name="" id="searchMenuDia"></h5>
        <div id="caja">      
            <div><img id="imgNombreComidas" src="/img/desayuno1.jpg" alt="">
                <img id="infoIcon" src="/img/informacion.png" alt="">
                <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <div><img id="imgNombreComidas" src="/img/desayuno1.jpg" alt="">
                <img id="infoIcon" src="/img/informacion.png" alt="">
                <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <div><img id="imgNombreComidas" src="public/img/desayuno1.jpg" alt="">
                <img id="infoIcon" src="/img/informacion.png" alt="">
                <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <h2 onclick=""><img id="slider" src="/img/flecha-correcta.png" alt=""></h2>
            <span>
                Sandwich de manzana y granola
            </span>
            <span>
                Sandwich de manzana y granola
            </span>
            <span>
                Sandwich de manzana y granola
            </span> 
        </div>    
    </div>
{{> script}}
{{> pie}}