{{> cabecera}}
<body>
<header>
    <a href="#" id="logo"><img src="img/3.png"></a>
    <nav>
        <ul id="menu">
            <li><a href="#"><i class="fa-solid fa-house-user"></i> Inicio</a></li>
            <li><a href="#"><i class="fa-solid fa-bowl-food"></i> Dietas</a></li>
            <li><a href="#"><i class="fa-solid fa-bullseye"></i> Objetivos</a></li>
            <li><a href="#"><i class="fa-regular fa-comments"></i> Chat</a></li>
        </ul>
    </nav>
    
    <div id="user">
        <div id="profile" onclick="menuToggle();">
            <img src="/img/icon1.jpg">
        </div>
        <div id="profilemenu">
            <h3>¡ Hola **** !<br><span>Paciente</span></h3>
            <ul>
                <li><i class="fa-regular fa-user"></i><a href="perfil_paciente">Mi perfil</a></li>
                <li><a href="perfil_paciente"><i class="fa-solid fa-sliders"></i>Ajustes</a></li>
                <li><a href="login"><i class="fa-solid fa-arrow-right-from-bracket"></i>Cerrar sesión</a></li>
            </ul>
        </div>
    </div>

    <div id="menuicon">
        <i class="fa-solid fa-bars"></i>
    </div>
    
</header>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{{> script}}
{{> pie}}