{{> cabecera}}
{{> menu_nutricionista}}
<body class="registro">
    
    <h1 class="admin">Menús</h1>

    <table class="admin">

        <tr class="admin">
            <td class="admin"><img src="/img/favicon-32x32.png" alt=""></td>
            <td class="admin"><a href="menu_semanal_nutri_cliente">Adrián Fernandez Ruiz</a></td>
            <td class="admin"></td>
        </tr>

        <tr class="admin">
            <td class="admin"><img src="/img/favicon-32x32.png" alt=""></td>
            <td class="admin"><a href="menu_semanal_nutri_cliente">Juan Sanchez Gonzalez</a></td>
            <td class="admin"></td>
        </tr>

        <tr class="admin">
            <td class="admin"><img src="/img/favicon-32x32.png" alt=""></td>
            <td class="admin"><a href="menu_semanal_nutri_cliente">Jesús Gonzalez Herrera</a></td>
            <td class="admin"></td>
        </tr>

    </table>
{{> script}}
{{> pie}}