{{> cabecera}}
{{> menu_paciente}}
<body>
  

<div class="centrarContenidoPerfil">
      <img src="img/icon1.jpg" alt="cara" />
      <p>Nombre del cliente</p>
    </div>

    <!-- Contenedores Peso Inicial y Peso Actual -->
    <div class="centrarContenedorPesos">
      <div class="ContenedorPesos">
        Peso inicial
        <p>68 Kg</p>
      </div>

      <div class="ContenedorPesos">
        Peso actual
        <p id="pesoActual">60Kg</p>
        <p id="demo"></p>
      </div>
    </div>
    <div class="contenedorActualizarPeso">
      <button id="boton" onclick="cambiarPeso()" value="ACTUALIZAR PESO">ACTUALIZAR PESO</button>
    </div>

    <!-- Progreso historial -->
    <div>
      <h4 class="perfil">MI PROGRESO</h4>
      <br>
      <div class="FondoDatosCliente">
        <div class="datosCliente"><img src="/img/grafico.png" alt="grafico"> Historial de peso</div>
            <hr />
        <div class="datosCliente"><img src="/img/nutricion.png" alt=""> Historial de comidas</div>
      </div>
    </div>
    <br>
    <br>
    <!-- Datos Cliente -->
    <div>
      <h4 class="perfil">MIS DATOS</h4>
      <br>
      <div class="FondoDatosCliente">
        <div class="datosCliente" ><img src="/img/imc.png" alt=""> IMC</div>
            <hr />
        <div class="datosCliente" ><img src="/img/cuerpo-humano.png" alt=""> % de Grasa corporal</div>
            <hr />
        <div class="datosCliente" ><img src="/img/fuerte.png" alt=""> Masa múscular</div>
            <hr />
        <div class="datosCliente"><img src="/img/limite-de-altura.png" alt=""> Altura</div>
            <hr />
        <div class="datosCliente" ><img src="/img/horario.png" alt=""> Gestión de ahorros</div>
            <hr />
            <div class="datosCliente" ><img src="/img/exito.png" alt=""> No tienes ningún reto empezado, elige uno de la lista</div>
            <hr />
        <div class="datosCliente"><img src="/img/gluten.png" alt=""> Alérgenos y enfermedades</div>
      </div>
    </div>
    <br>
    <br>
    <!-- Cuenta Cliente -->
    <div>
      <h4 class="perfil">MI CUENTA</h4>
      <br>
      <div class="FondoDatosCliente">
        <div class="datosCliente"><img src="/img/carnet.png" alt=""> Nombre y apellidos</div>
        <hr />
        <div class="datosCliente"><img src="/img/campana.png" alt=""> Notificaciones</div>
      </div>
    </div>
  </body>
{{> script}}
{{> pie}}