{{> cabecera}}
{{> menu_nutricionista}}
<div class="centrarContenidoPerfil">
      <img src="/img/icon.png" alt="cara" />
      <p>Nombre del nutricionista</p>
    </div>

    <div>
    <br>
      <h4 class="perfil">Mis datos</h4>
      
      <div class="FondoDatosNutricionista">
        <div class="datosNutricionista"><img src="/img/carnet.png" alt=""> Nombre y Apellidos</div>
            <hr/>
        <div class="datosNutricionista" contenteditable="true">02/03/1986</div>
            <hr/>
        <div class="datosNutricionista" contenteditable="true">21134742Z</div>
            <hr/>
        <div class="datosNutricionista" contenteditable="true">Sexo</div>
            <hr/>
        <div class="datosNutricionista" contenteditable="true"><a href = "mailto: NutriFit@gmail.com">NutriFit@gmail.com</a></div>
      </div>
    </div>
    <br>
    <br>
    <div>
      <br>
      <h4 class="perfil">Mi cuenta</h4>
      <div class="FondoDatosNutricionista">
        <div class="datosNutricionista"><a href="#"><img src="/img/contrasena.png" alt=""> Cambiar contraseña</a></div>
            <hr/>
        <div class="datosNutricionista"><img src="/img/salida.png" alt=""><a href="login"> Cerrar sesión</a></div>
      </div>
    </div>
{{> script}}
{{> pie}}