{{> cabecera}}
{{> menu_nutricionista}}
<body id="bodyMenuSemanal">
    <div class="centrarContenidoPerfil">
        <img src="/img/icon1.jpg" alt="cara" />
        <h4>Nombre del cliente</h4>
    </div>

    <div class="cabeceraSemana">
        <div class="semanaSiguiente">
            <button class="buton" onclick="crearReceta()">Crear receta</button>
        </div>
    </div>
    <div class="menuDia">
        <h3 id="menuDiah3">Desayuno</h3>
        <div id="caja">
            <div>
                <img id="infoIcon" src="/img/informacion.png" alt="">
                <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <div>
                <img id="infoIcon" src="/img/informacion.png" alt="">
                    <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <div>
                <img id="infoIcon" src="/img/informacion.png" alt="">
                    <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <span>
                Sandwich de manzana <br> y granola
            </span>
            <span>
                Sandwich de manzana <br> y granola
            </span>
            <span>
                Sandwich de manzana <br> y granola
            </span>
        </div>
        <div id="caja">    
            <div>
                <img id="infoIcon" src="/img/informacion.png" alt="">
                <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <div>
                <img id="infoIcon" src="/img/informacion.png" alt="">
                    <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <div>
                <img id="infoIcon" src="/img/informacion.png" alt="">
                    <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <span>
                Sandwich de manzana <br> y granola
            </span>
            <span>
                Sandwich de manzana <br> y granola
            </span>
            <span>
                Sandwich de manzana <br> y granola
            </span>
        </div>  
        <div id="caja">  
            <div>
                <img id="infoIcon" src="/img/informacion.png" alt="">
                    <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <div>
                <img id="infoIcon" src="/img/informacion.png" alt="">
                    <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <div>
                <img id="infoIcon" src="/img/informacion.png" alt="">
                    <input type="checkbox" name="checkmark" id="checkmark">
            </div>
            <span>
                Sandwich de manzana <br> y granola
            </span>
            <span>
                Sandwich de manzana <br> y granola
            </span>
            <span>
                Sandwich de manzana <br> y granola
            </span>
        </div>
    </div>
{{> script}}
{{> pie}}