{{> cabecera}}
{{> menu_paciente}}
<body id="recetacliente">

    <div class="contenedor">
        <div class="receta1">

            <div class="foto1">
            <!--imagen-->
            <img src="/img/desayuno.jpg" id="plato">
            </div>

            <div class="foto2">
                <h3>Fruta</h3>

                <div id="list">
                    <ul id="horizon">
                        <li>ej</li>
                        <li>ej</li>
                        <li>ej</li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="receta2">
            <h3>Qué necesitas</h3>
            <div id="list">
            <ul>
                <li>Fruta</li>
                <li></li>
                <li></li>
            </ul>
            </div>
        </div>

        <div class="receta3">
            
            <h3>Cómo prepararlo</h3>
            <div id="list">
            <ol>
                <li></li>
                <li></li>
                <li></li>
            </ol>
            </div>
        </div>

        <div class="receta4">
            <h3>Valores nutricionales</h3>
            <div>
                <ul id="horizon">
                    <li>ej</li>
                    <li>ej</li>
                    <li>ej</li>
                </ul>
            </div>
        </div>
   
</div>
{{> script}}
{{> pie}}